@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
  max-width: 1000px;
  font-family: "Sarabun", sans-serif;
  background-color: #f4f4f9;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
::placeholder{
  font-family: "Sarabun", sans-serif;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid rgb(5, 5, 129);
  border-radius: 0.5em;
}

.title h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: navy;

}

.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.waste_type{
  justify-content: center;
  margin: 0 auto;
}
.waste_type p{
  font-size: 1.1em
}


.input-box {
  width: calc(50% - 20px);
  margin-bottom: 15px;

}

.input-box-full-width {
  width: 100%;
  margin-bottom: 15px;
}

.input-box span {
  font-size: 1rem;
  font-weight: 500;
  color: navy;
  margin-bottom: 5px;
  display: block;
}


.input-box input,
.input-box textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px ;
  font-size: 0.9rem;
  color: #333;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #007bff;
}

.input-box textarea {
  height: 80px;
  resize: none;
}

.attach_file {
  margin-top: 7px;
  margin: 0 auto;
  
}

.attach_file label {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.attach_file input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.attach_file button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.attach_file button:hover {
  background-color: #0056b3;
}
.signature{
  width: 100%; 
  text-align: right; 
  padding: 40px 0;
}
.signature input{
  width: 200px; 
  border: none; 
  border-bottom: 1px dashed; 
  padding: 0 20px; 
  text-align: center;
  font-size: 16px;
}

.submit {
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
}

.submit input {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit input:hover {
  background-color: #218838;
}

.pointer {
  cursor: pointer;
}




@media (max-width: 768px) {
  *{
    font-family: "Sarabun", sans-serif;
    
  }
  .input-box {
      width: 100%;
  }
  .title h2 {
    font-size: 0.8rem;
    font-weight: bold;
    color: navy;
  }
  .title {
    padding: 0px 10px;
  }
  .input-box {
    width: calc(50% - 15px);
    margin-bottom: 5px;
  }
  .input-box input{
    font-size: 0.75rem;
  }
  ::placeholder{
    font-size: 0.6rem;
    font-family: "Sarabun", sans-serif;
  }
  .input-box span{
    font-size: 0.8rem;
  }

  .attach_file{
    font-size: 0.8rem;
  }
  .waste_type {
    font-size: 0.8rem
  }
  .register_box {
    font-size: 0.8rem;
  }
  .tag_info{
    font-size: 0.8rem;
  }
  .signature{
    font-size: 0.8rem;
  }
}